*{
    margin: 0;
    padding: 0;
}
.with_over{
    font-size: 65px;
    height: 200px;
    margin-left: 185px;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.with_trainingr{
    font-size: 65px;
    margin-right: 185px;
    float: right;
    margin-top: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

